.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map { 
  height: 50%;
  width: 50%;
  text-align: center;
 }

.leaflet-container {
  width: 100%;
  height: 100vh;
}

#sidebar {
  border-style: solid;
  border-color: black;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
}

.popup {
  text-align: center;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 30px;
  background-color: rgb(0, 195, 255);
}
.header-home{
  padding: 15px;
}
.header-list{
  padding: 15px;
}
.header-about{
  padding: 15px;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.comment-flexbox{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment-text{
  margin:12px 0;
  font-size: 1.15rem;
  font-weight: 600;
}
.text-box{
  height:75px;
  width:465px;
  background-color: white;
}
.submit-button{
  height: 40px;
  width: 80px;
  background-color: blue;
  color: white;
  font-size: 1.05rem;
  margin-top:10px;
  border-radius: 5px;
  border-style: none;
  cursor:pointer;
}
.submitted-comment{
  height: 75px;
  width: 465px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  word-break: break-all;
}